<template>
    <div>
        <v-row class="mt-5 ms-2 justify-end">
        <v-btn class="mt-2 ms-4 text-capitalize" color="primary">
            Back to Shop
        </v-btn>
        
        <v-card width=100% class="ms-7 mt-4 pa-3">
           
            <v-card-text>
                <h3 class="text-right mt-2">Sub Total ( {{ products.length }} items ):  KD</h3>
                <p class="text-right">Promo Discount: KD</p>
                </v-card-text>
        <v-card-text>
            <h3 class="text-right mt-2 primary--text">Total: KD</h3>
        </v-card-text>
<v-card-actions class="justify-center">
    <v-btn color="primary" rounded class="white--text text-capitalize" >Checkout</v-btn>
</v-card-actions>
        </v-card>
        </v-row>
    </div>
</template>
<script>
export default{
name: 'Checkout',
props: ['products'],
data() {
    return {

    }
},
 computed: {
      itemsCount () {
          // itemsFilters is computed 
          return this.products.length
          
      }
}
}
</script>
<style  scoped>
card_actions.btn{
    min-width: 0;
}
</style>