<template>
  <v-container class="mt-5 grey-lighten-1">
    
      <v-row>
        <v-col cols="11" md="8" lg="8" class="text-sm">
          <Products :products="products"/>
        </v-col>
        <v-col cols="11" md="4" lg="4">
          <Checkout :products="products"/>
          
        </v-col>
      </v-row>  
      <v-row>
        <v-col>
        <Suggestions/>
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
import Products from '@/components/Products.vue'
import Checkout from '@/components/Checkout.vue'
import Suggestions from '@/components/Suggestions.vue'


  export default {
    name: 'HelloWorld',

    data: () => ({
    products: [
      { title: 'Super Dinner' ,Subtitle: 'KFC Salmiya' ,Price: '2.341',avatar: require('../assets/kfc.webp'), value: '0',Amount: '0' },
      { title: 'Super Dinner' ,Subtitle: 'KFC Salmiya' ,Price: '2.342',avatar: require('../assets/kfc.webp'), value: '0',Amount: '0' },
      { title: 'Super Dinner' ,Subtitle: 'KFC Salmiya' ,Price: '2.343',avatar:require('../assets/kfc.webp'), value: '0',Amount: '0'}
    ]
    
    }),
    components: {
    Products,
    Checkout,
    Suggestions
    },
    
      }
  
 
  
</script>
<style scoped>

</style>