<template>
    <v-app-bar
      app
      color="cyan lighten-1"
     
    >
    <v-spacer></v-spacer>
    

    
    <v-text-field
     solo
     dense
    class="pa-2 mt-5 hidden-xs-only" 
    append-icon="mdi-map-marker"
    color="primary"
    >
    </v-text-field>
     <v-text-field
     solo
     dense
    class="pa-2 mt-5 hidden-xs-only" 
    append-icon="mdi-magnify"
       >
    </v-text-field>
     <v-select
          class="mt-5 hidden-xs-only"
          :items="items"
          label=" "
          solo
          dense
          
        ></v-select>
   
        <v-badge overlap dot color="orange">
        <v-icon dark class="ms-4">mdi-bell</v-icon>
</v-badge>
 
<v-btn dense class="ms-2 mb-1">
 <v-badge  content="4" color="orange">
    <v-icon color="primary" right>mdi-cart</v-icon>
  </v-badge>
</v-btn>
  
<v-btn  dense class="ms-2 mb-1 text-capitalize primary--text">
    <v-icon color="primary"  left>mdi-account-circle</v-icon>
    Name
</v-btn>
     
    </v-app-bar>

</template>

<script>

export default {
data() {
    return{
      items: ['English', 'Arabic', 'Hindi']
    }
}
}
</script>
<style scoped>
</style>