<template>
  <div>
    <h4 class="primary--text">Total ({{ products.length }}) Items</h4>

    <v-row v-for="(product, index) in products" :key="product.price" class="row-wrap">
     
      <v-card
        elevation="2"
        class="mt-5 pa-4 ma-3"
        min-width="100%"
        cols="12"
        lg="8"
        md="7"
        v-if="show"
      >
        <v-row>
          
            
          <v-col cols="5" md="3" lg="3">
          <v-responsive>
              <v-avatar tile class="ma-0" size="100">
                <v-img :src="product.avatar" color="primary" contain></v-img>
              </v-avatar>
          </v-responsive>
          </v-col>

          <v-col cols="7" md="8" lg="8">
            <v-row class="text-h6 ps-3 mt-5 text-sm" >{{ product.title }} </v-row>
            <v-row class="ps-3">
              {{ product.Subtitle }}
            </v-row>

            <v-row>
              <v-col cols="12" md="6" lg="6">
                <h4>
                  {{ product.Price }} * {{ product.value }} =
                  {{ (Math.round(product.Amount * 100) / 100).toFixed(2) }} KD
                </h4>
              </v-col>

              <v-col cols="7" md="6" lg="6">
                <v-row justify="end" class="mt-2">
                  <v-col cols="12" lg="6" class="d-flex">
                    <v-btn dense x-small @click="Subtract(product)" class=""
                      >-</v-btn
                    >

                    <v-text-field
                      type="number"
                      v-model="product.value"
                      class="mt-n5 pp"
                    />

                    <v-btn x-small dense @click="Add(product)">+</v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row  v-show="index >= 1">
              <v-col> 
                <v-text-field
                v-model="promocode"
                 :rules="[rules.required, rules.promocode]"
                  @click:append="show = !show"
                  hint="promocode not applied"
                  success> 
                  
                  </v-text-field></v-col>
              <v-col>
                <v-spacer></v-spacer>
                <v-btn rounded dense outlined class="text-capitalize">Apply</v-btn
                >
              </v-col>
            </v-row>
          </v-col>
          
        </v-row>
      </v-card>
    </v-row>
  </div>
</template>
<script>
export default {
  name: "Product",
  props: ["products"],
  data() {
    return {
      show: true,
      promocode: '',
   rules:{
      required: value => !!value || 'Promocode not applied',
      promocode: () => (`promocode applied`),
   }
    }
  },
  computed: {
    itemsCount() {
      // itemsFilters is computed
      return this.products.length;
    },
  },
  methods: {
    Add(product) {
      product.value++;
      product.Amount = product.Price * product.value;
    },
    Subtract(product) {
      product.value--;
      product.Amount = product.Price * product.value;
    }
  }
};
</script>
<style>
.pp input[type="number"] {
  -moz-appearance: textfield;
  text-align: center !important;
}
.pp input::-webkit-outer-spin-button,
.pp input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
</style>