<template>
<div class="d-flex flex-column">
   
    <h4 class="primary--text">You may also like</h4>
     
        <v-card elevation="0" class="mt-2 d-flex flat pa-2 scroll">
 
    <v-card v-for="item in suggestedproducts" :key="item.price" class="ma-2 pa-4 cards" width="300px" >
          
               

                <v-img :src="item.image" color="primary" height="100px" width="100px" ></v-img>
                <div class="mt-3">{{ item.title }}</div>
                <p class="mt-0" subtitle-1>{{ item.sub }}</p>
                <h4>{{ item.price }} KD</h4>
                <v-row class="mt-4">
                   <v-col contain>
                        <p class="error--text text-caption"><v-icon color="error">mdi-tag</v-icon> Upto to 20% Off</p>
                   </v-col>
                        <v-col>
                        <p class="caption">10 mins</p>
                        </v-col>  
                </v-row>
              </v-card>
        </v-card>
        
           
  

    </div>

</template>
<script>
export default {
    name:'Suggestions',
    data() {
        return {
            suggestedproducts: [{title: 'Nivea Body Milk 48h',sub: 'Body Milk',price: '319',offer: '',time: '',image: require('../assets/download.jpg')},
            {title: 'Nivea Body Milk 48h',sub: 'Body Milk',price: '352',offer: '',time: ' ',image: require('../assets/download.jpg')},
            {title: 'Nivea Body Milk 48h',sub: 'Body Milk',price: '349',offer: '',time: ' ',image: require('../assets/download.jpg')},
            {title: 'Nivea Body Milk 48h',sub: 'Body Milk',price: '390',offer: '',time: '',image: require('../assets/download.jpg')},
            {title: 'Nivea Body Milk 48h',sub: 'Body Milk',price: '314',offer: '',time: '',image: require('../assets/download.jpg')}
            
            
            ]
        }
    },

}
   
</script>
<style scoped>
.scroll{
    overflow-x: scroll;
}
</style>
