<template>
  <v-app>
    <Navbar />
    <v-main>
      <Home color="grey--lighten" />
    </v-main>
  </v-app>
</template>

<script>
import Home from '@/components/Home.vue'
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'App',

  components: {
    Home,
    Navbar
  },

  data: () => ({
    //
  }),
};
</script>
